# IDE stuff:
.idea

# Default ignored files
/shelf/
/workspace.xml

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Editor-based HTTP Client requests
/httpRequests/

# Other unnescessary stuff
target
*.iml

# Server database
database.db

# Secret bot stuff
/src/main/java/utils/Config.java
